@model LojaRazor.Models.Usuario

@using(Html.BeginForm("Cadastra", "Usuarios", FormMethod.Post)){

    <fieldset>
        <legend>Dados Pessoais</legend>
    
        @Html.LabelFor(m => m.Nome, "Nome: ")
        @Html.TextBoxFor(m => m.Nome)
        @Html.ValidationMessageFor(m => m.Nome)
    
        @Html.LabelFor(m => m.Email, "Email: ")
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    
        @Html.LabelFor(m => m.Senha, "Senha: ")
        @Html.PasswordFor(m => m.Senha)
        @Html.ValidationMessageFor(m => m.Senha)
    
        @Html.LabelFor(m => m.DataDeNascimento, "Data de Nascimento: ")
        @Html.TextBoxFor(m => m.DataDeNascimento)
        @Html.ValidationMessageFor(m => m.DataDeNascimento)
        <div class="control-group">
            <label class="inline radio">
                @Html.RadioButtonFor(m => m.Sexo, LojaRazor.Models.Sexo.Masculino)
                Masculino
            </label>

            <label class="inline radio">
                @Html.RadioButtonFor(m => m.Sexo, LojaRazor.Models.Sexo.Feminino)
                Feminino
            </label>
        </div>
        @Html.DropDownListFor(u => u.Estado,
            new SelectList(Enum.GetValues(typeof(LojaRazor.Models.Estado))))
</fieldset>

    <fieldset>
    <legend>Dados de Entrega</legend>

        @Html.LabelFor(m => m.Endereco, "Endereço: ")
        @Html.TextBoxFor(m => m.Endereco)
        @Html.ValidationMessageFor(m => m.Endereco)

        @Html.LabelFor(m => m.Complemento, "Complemento: ")
        @Html.TextBoxFor(m => m.Complemento)
        @Html.ValidationMessageFor(m => m.Complemento)

        @Html.LabelFor(m => m.CEP, "CEP: ")
        @Html.TextBoxFor(m => m.CEP)
        @Html.ValidationMessageFor(m => m.CEP)

        @Html.LabelFor(m => m.Observacoes, "Observações: ")
        @Html.TextAreaFor(m => m.Observacoes)
        @Html.ValidationMessageFor(m => m.Observacoes)

    </fieldset>
    <div>
        @Html.CheckBoxFor(m => m.RecebePromocoes)
        Desejo receber informações sobre promoções
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-large" />
}
@Scripts.Render("~/Bundles/scripts")